body{
  font-family: 'Courier New', Courier, monospace;
  color: brown;
  background-color: bisque;
  text-align: center;
}

.recipe-links{
  list-style-type: none;
  padding: 0;
}
.ingredient-list{
  list-style-type: none;
  padding: 0;
}
.step-list{
  list-style-type: none;
  padding: 0;
}
